Repository husky-tmr/BIM-Composer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run --coverage.enabled=false, prettier --write --ignore-path .prettierignore

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "vitest related --run --coverage.enabled=false"
  ],
  "*.{css,scss,less}": ["prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write --ignore-path .prettierignore"]
}

fix: commit and history changes
  index.html
  src/components/commitController.js
  src/components/properties/AttributeUpdater.js
  src/components/timelineController.js
  src/core/state/middleware/logger.js
  src/main.js
  src/state/actions.js
  src/viewer/usda/parser/logParser.js
  src/viewer/usda/usdaComposer.js
Due: eslint --fix, prettier --write, vitest related --run --coverage.enabled=false

Fix code style issues with Prettier
  css/history-overlay.css
  index.html
  src/components/properties/AttributeUpdater.js
  src/components/staging/primStaging.js
  src/components/timelineController.js
  src/viewer/rendering/stageViewRenderer.js
  src/viewer/usda/parser/logParser.js
Due: eslint --fix, prettier --write, vitest related --run --coverage.enabled=false

test: Adding unit testing for history feature
  src/__tests__/unit/components/staging/primStaging.test.js
  src/__tests__/unit/viewer/rendering/stageViewRenderer.test.js
  src/__tests__/unit/viewer/usda/parser/hierarchyParser.test.js
Due: eslint --fix, prettier --write, vitest related --run --coverage.enabled=false

feat: add demote button
  index.html
  src/__tests__/unit/components/promotionController.test.js
  src/components/promotionController.js
  src/components/sidebar/layerStackController.js
Due: eslint --fix, prettier --write, vitest related --run --coverage.enabled=false

test: remote tests output
  test_output.txt
Due: none

fix: pin and unpin behaviour
  src/__tests__/unit/components/sidebar/panelDockerController.test.js
  src/components/sidebar/panelDockerController.js
Due: eslint --fix, prettier --write, vitest related --run --coverage.enabled=false

fix: promote button not working with selected objects
  src/components/sidebar/layerStackController.js
Due: eslint --fix, prettier --write, vitest related --run --coverage.enabled=false

feat: filter save files
  css/save-modal.css
  index.html
  src/components/viewControls.js
  src/core/state/actions/index.js
  src/core/state/reducer.js
  src/state.js
  src/state/actions.js
Due: eslint --fix, prettier --write, vitest related --run --coverage.enabled=false

test: fixing github errors
  src/__tests__/unit/components/staging/primStaging.test.js
  src/components/sidebar/layerStackController.js
  src/components/staging/primStaging.js
Due: eslint --fix, prettier --write, vitest related --run --coverage.enabled=false

docs: updating documentation
  docs/api/SERVICES_API.md
  docs/api/STATE_API.md
  docs/architecture/LAYER_WORKFLOW.md
  docs/guides/DEVELOPER_ONBOARDING.md
  docs/guides/TESTING_GUIDE.md
  docs/guides/TROUBLESHOOTING.md
  docs/guides/USER_GUIDE.md
  docs/tutorials/CREATING_FIRST_SCENE.md
  index.html
  src/__tests__/unit/components/promotionController.test.js
  src/__tests__/unit/components/sidebar/panelDockerController.test.js
  src/__tests__/unit/components/staging/primStaging.test.js
  src/__tests__/unit/viewer/rendering/stageViewRenderer.test.js
  src/__tests__/unit/viewer/usda/parser/hierarchyParser.test.js
  src/components/conflictModal.js
  src/components/promotionController.js
  src/components/properties/PrimRenamer.js
  src/components/properties/PropertyEditor.js
  src/components/sidebar/layerStackController.js
  src/components/staging/primStaging.js
  src/components/timelineController.js
  src/utils/conflictDetector.js
  src/viewer/rendering/stageViewRenderer.js
  src/viewer/usda/parser/logParser.js
  src/viewer/usda/pathTranslationRegistry.js
Due: eslint --fix, prettier --write, vitest related --run --coverage.enabled=false, prettier --write --ignore-path .prettierignore

feat: IFC Converter
  docs/IFC_CONVERSION_REFERENCE.md
  docs/guides/IFC_SUPPORT.md
  docs/guides/IFC_TROUBLESHOOTING.md
  index.html
  package-lock.json
  package.json
  src/components/sidebar/layerStackController.js
  src/viewer/ifc/ifcParser.js
  src/viewer/ifc/ifcToUsdConverter.js
  src/viewer/ifc/index.js
  vite.config.js
Due: eslint --fix, prettier --write, vitest related --run --coverage.enabled=false, prettier --write --ignore-path .prettierignore
